/* Add application styles & imports to this file! */

html, body, div, span,
h1, p, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.btn {
  border-radius: 5px;
  padding: 5px;
}